<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        
        <!-- Dashboard Menu (for admins) -->
        <menuitem id="menu_dashboard_root"
                  name="Dashboard Config"
                  groups="kulturhaus_dashboard.group_dashboard_admin"
                  sequence="100"/>
        
        <menuitem id="menu_dashboard_cards"
                  name="Dashboard Cards"
                  parent="menu_dashboard_root"
                  action="action_dashboard_card"
                  sequence="10"/>
        
        <!-- Personal Dashboard Menu Item (top level) -->
        <menuitem id="menu_dashboard_home"
                  name="Personal Dashboard"
                  action="action_kulturhaus_dashboard"
                  groups="base.group_user"
                  sequence="0"/>
                  
    </data>
</odoo>